.name {
    display: flex;
    width: 100%;
    background-color: #1976D2;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding:0.5rem

  }
 